<!DOCTYPE html>
<html>
<head><title>QR Code</title></head>
<body>
<h2>Dynamic QR Code</h2>
<img src="<%= qr %>">
<p>Scan or visit: <a href="<%= url %>"><%= url %></a></p>
<a href="/">Back</a>
</body>
</html>
